{% extends 'thebase.html' %}

{% block title %}Buttons - Admin Dashboard{% endblock %}

{% block content %}


            <!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <!-- LoginForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Login Form</h6>
                <form method="post" action="/login">
                    {{ login_form.hidden_tag() }}
                    {{ login_form.email.label }} {{ login_form.email(class="form-control") }}
                    {{ login_form.password.label }} {{ login_form.password(class="form-control") }}
                    {{ login_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <!-- RegistrationForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Registration Form</h6>
                <form method="post" action="/register">
                    {{ registration_form.hidden_tag() }}
                    {{ registration_form.id_number.label(class="form-label") }} {{ registration_form.id_number(class="form-control") }}
                    {{ registration_form.email.label(class="form-label") }} {{ registration_form.email(class="form-control") }}
                    {{ registration_form.position.label(class="form-label") }} {{ registration_form.position(class="form-select") }}
                    {{ registration_form.password.label(class="form-label") }} {{ registration_form.password(class="form-control") }}
                    {{ registration_form.password2.label(class="form-label") }} {{ registration_form.password2(class="form-control") }}
                    {{ registration_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <!-- UploadForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4"> students data Upload Form</h6>
                <form method="post" action="{{ url_for('upload', data_type='students') }}" method="post" enctype="multipart/form-data">
                    {{ upload_form.hidden_tag() }}
                    {{ upload_form.file.label(class="form-label") }} {{ upload_form.file(class="form-control") }}
                    {{ upload_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">units data Upload Form</h6>
                <form method="post" action="{{ url_for('upload', data_type='units') }}" method="post" enctype="multipart/form-data">
                    {{ upload_form.hidden_tag() }}
                    {{ upload_form.file.label(class="form-label") }} {{ upload_form.file(class="form-control") }}
                    {{ upload_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <!-- AttendanceForm -->
        <div class="col-sm-12 col-xl-6">
    <div class="card bg-secondary rounded h-100 p-4">
        <h6 class="card-title mb-4">Attendance Form</h6>
        <form method="post" action="/attendance">
            {{ attendance_form.hidden_tag() }}

            <div class="mb-3">
                {{ attendance_form.adm_no.label(class="form-label") }}
                {{ attendance_form.adm_no(class="form-control") }}
            </div>

            <div class="mb-3">
                {{ attendance_form.unit_code.label(class="form-label") }}
                {{ attendance_form.unit_code(class="form-control") }}
            </div>

            <div class="mb-3 form-check">
                {% for choice, label in attendance_form.status.choices %}
                    <div class="form-check">
                        <input type="radio" name="status" id="{{ choice }}" value="{{ choice }}" class="form-check-input">
                        <label for="{{ choice }}" class="form-check-label">{{ label }}</label>
                    </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>




        <!-- SearchForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Search Form</h6>
                <form method="get" action="/search">
                    {{ search_form.search_term.label(class="form-label") }} {{ search_form.search_term(class="form-control") }}
                    {{ search_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <!-- StudentRegistrationForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Student Registration Form</h6>
                <form method="post" action="/student_registration">
                    {{ student_registration_form.hidden_tag() }}
                    {{ student_registration_form.first_name.label(class="form-label") }} {{ student_registration_form.first_name(class="form-control") }}
                    {{ student_registration_form.last_name.label(class="form-label") }} {{ student_registration_form.last_name(class="form-control") }}
                    {{ student_registration_form.sir_name.label(class="form-label") }} {{ student_registration_form.sir_name(class="form-control") }}
                    {{ student_registration_form.Adm_no.label(class="form-label") }} {{ student_registration_form.Adm_no(class="form-control") }}
                    {{ student_registration_form.national_id_number.label(class="form-label") }} {{ student_registration_form.national_id_number(class="form-control") }}
                    {{ student_registration_form.email.label(class="form-label") }} {{ student_registration_form.email(class="form-control") }}
                    {{ student_registration_form.campus.label(class="form-label") }} {{ student_registration_form.campus(class="form-control") }}
                    {{ student_registration_form.course.label(class="form-label") }} {{ student_registration_form.course(class="form-control") }}
                    {{ student_registration_form.trimester.label(class="form-label") }} {{ student_registration_form.trimester(class="form-control") }}
                    {{ student_registration_form.group.label(class="form-label") }} {{ student_registration_form.group(class="form-control") }}
                    {{ student_registration_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

        <!-- ChangePasswordForm -->
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Change Password Form</h6>
                <form method="post" action="/change_password">
                    {{ change_password_form.hidden_tag() }}
                    {{ change_password_form.old_password.label(class="form-label") }} {{ change_password_form.old_password(class="form-control") }}
                    {{ change_password_form.new_password.label(class="form-label") }} {{ change_password_form.new_password(class="form-control") }}
                    {{ change_password_form.confirm_password.label(class="form-label") }} {{ change_password_form.confirm_password(class="form-control") }}
                    {{ change_password_form.submit(class="btn btn-primary") }}
                </form>
            </div>
        </div>

    </div>
</div>
<!-- Form End -->


{%endblock%}
