{% extends 'newbase.html' %}

{% block title %}Register - Attendance Management System{% endblock %}

{% block content %}

         <h2>Register</h2>
        <div class="form">
           
        <form action="/register" method="post">
          {{ form.hidden_tag() }}
          <div class="inputBox">
            {{ form.id_number.label }} {{ form.id_number() }}
            </div>
            
            <div class="inputBox">
            {{ form.email.label }} {{ form.email() }}
            </div>
        
            <div class="inputBox">
            {{ form.password.label }} {{ form.password() }}
            </div>
            

            <div class="inputBox">
            {{ form.password2.label }} {{ form.password2() }}
            </div>
            
<br>
            <div class="inputBox">
            {{ form.position.label }} {{ form.position() }}
            </div>
<br>
            <div class="inputBox">
            <button type="submit">Register</button>
            </div>
        </form>
        </div>
        
        <div class="links">
        <a class="button_links" href="/login">login</a>
        </div>

        



<style type="text/css">
      section .signin {
  
        width: 50%;
        height: 100%;
        color: yellow;}


    .button_links{background-color: yellow;
                    width: 100px;
                    height: 40px;
                    font-size: 1.5em;
                    color: black;
                    text-decoration: none;}
  </style>
{% endblock %}
