<!-- view_student_profile.html -->
{% extends 'newbase.html' %}

{% block content %}

    <h1>Student Profile</h1>
    
    <p><strong>Email:</strong> {{ student.email }}</p>
    <p><strong>Admission Number:</strong> {{ student.adm_no }}</p>
    <p><strong>First Name:</strong> {{ student.first_name }}</p>
    <p><strong>Last Name:</strong> {{ student.last_name }}</p>
    <p><strong>Sir Name:</strong> {{ student.sir_name }}</p>
    <p><strong>Id Number:</strong> {{ student.id_no }}</p>
    <p><strong>Campus:</strong> {{ student.campus }}</p>
    <p><strong>Trimester:</strong> {{ student.trimester }}</p>
    <p><strong>Group:</strong> {{ student.group }}</p>


    <!-- Add more student information fields as needed -->

    <a href="{{ url_for('change_password') }}">Change Password</a>

    <style type="text/css">
    	p,a,h1{color: yellow;}

    </style>
{%endblock%}
